  .App {
  text-align: center;
}

.App-logo {
  margin-top: 10vh;
  animation: App-logo-spin infinite 10s linear;
  height: 20vmin;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cooler {
  display: flex;
  flex-direction: column;
  justify-items: center;
}